<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppId" value="1485720594819609" xdt:Transform="Remove" />
    <add key="AppSecret" value ="b86b5a757f9b0a487bcf1d5962424063" xdt:Transform="Remove" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add xdt:Transform="Insert" key="AppId" value="1927832570830739"/>
    <add xdt:Transform="Insert" key="AppSecret" value ="cf2a630414a9ff18d0c09df1ffe334df"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform ="Replace" connectionString="Server=71cf6f84-0229-4005-8dcf-a7b601489058.sqlserver.sequelizer.com; Database=db71cf6f84022940058dcfa7b601489058; User ID=isqcwolnbclvoqhk; Password=rYsRSsyHn5U6iBuvbmUYba3mEB4Z4ybrxMtQ86Qbtf27UDwJSdXv2zxr6fkqwFMW;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
